<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="navbarforloggedinusers">
    <a class="navbar-brand ml-3" th:href="@{/dashboard}">Sludgate Brass Band</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mr-3">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/account-info}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/request/show}">Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/auth/logout}">Log out</a>
            </li>
        </ul>
    </div>
</nav>

